<html>
<head>
<title>Moorestown Newspaper Index Search - Exception</title>
</head>
<body>
<img src="oops.png"/>

<p>{{exception}}</p>

<a href="javascript:history.back();">Return to the search form.</a>
</body>
</html>
