!!!
%html
  %head
    %title Search the Database
    %script{:language => "javascript"}
      function togglehidden() {
      if (document.getElementById('hidden').style.display == 'none') {
      document.getElementById('hidden').style.display = '';
      document.forms[0].togglebutton.value = "Hide options.";

      } else {
      document.getElementById('hidden').style.display = 'none';
      document.forms[0].togglebutton.value = "Show options.";

      }
      }
    :css
      /**/
        body { font-family: sans-serif; }
        form {margin-left:auto; margin-right:auto; width: 85%;}
        #hidden { font-size: 65%; }
      /**/
  %body
    %h1
      Search the Index to the News Chronicle Suburban
    %form{:action => "search.php", :method => "post"}
      %table{:cellspacing => "60px"}
        %tr{:valign => "top"}
          %td
            %p{:align => "left"}
              Search string:
              %br/
              %br/
              %input{:name => "term", :size => "40", :type => "text"}/
              %br/
              %br/
              %input{:name => "submit", :type => "submit", :value => "Submit"}/
              %input{:type => "reset", :value => "Reset!"}/
              %input{:name => "togglebutton", :onclick => "togglehidden();", :type => "button", :value => "Show options."}/

          %td
            %dl#hidden{:style => "display:none;"}
              %dt Date sort:
              %dd
                %br/
                %input{:checked => "checked", :name => "dsort", :type => "radio", :value => "desc"}/
                descending
                %br/
                %br/
                %input{:name => "dsort", :type => "radio", :value => "asc"}/
                ascending
                %br/
                %br/
              %dt Date range (yyyy-mm-dd):
              %dd
                %br/
                Start date:
                %input{:name => "startdate", :size => "10", :type => "text", :value => "1923-01-01"}/
                %br/
                %br/
                End date:
                %input{:name => "enddate", :size => "10", :type => "text", :value => "2006-12-31"}/
                %br/
                %br/
              %dt Newspaper:
              %dd
                %br/
                %input{:name => "paper[1]", :type => "checkbox", :value => "Moorestown News", :checked => "checked"}/
                Moorestown News
              %dd
                %br/
                %input{:name => "paper[2]", :type => "checkbox", :value => "News Chronicle", :checked => "checked"}/
                News Chronicle
              %dd
                %br/
                %input{:name => "paper[3]", :type => "checkbox", :value => "News Weekly", :checked => "checked"}/
                News Weekly

              %dd
                %br/
                %input{:name => "paper[4]", :type => "checkbox", :value => "Moorestown Sun", :checked => "checked"}/
                Moorestown Sun
              %dt Photo:
              %dd
                %br/
                %input{:name => "photo", :type => "checkbox", :value => "Yes"}/
                has photo

